*.iml
.gradle
/local.properties
**/.idea/**
.idea/**
*.ipr
*.iws
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/caches
.idea/libraries
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
/.kotlin/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

