*.iml
.gradle
.idea
/.idea/
**/.idea/**
.idea/**
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/$PROJECT_FILE$
.idea/.gitignore
.idea/.name
.idea/AndroidProjectSystem.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/gradle.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/qaplug_profiles.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/caches
.idea/libraries
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
/.kotlin/
.DS_Store
**/.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
/local.properties
*.ipr
*.iws


